.App {
  text-align: center;
}

.App-header{
  background-color: #272c35;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input, button {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #272c35;
}

input {
  font-weight: bold;
  margin-bottom: 0.5em;
}

button {
  background-color: #3399cc;
  color: #282c34;
  transition: 0.3s;
  font-size: calc(5px + 1vmin);
}

button:hover {
  background-color: #246b8f;
}

button:active {
  background-color: #143e52;
}

.error {
  color: #ff1a1a;
  font-weight: 700;
}

.context {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 95%;
  color: #e5e5e5;
};

h1, h2, h3, h4, h5, h6 {
  color: #e5e5e5; 
  font-weight: 800;
  margin-bottom: 0.5em;
}
