.centered,
.injected-svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.vertically-centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spanning {
  width: 100%;
}

.ant-layout {
  display: flex;
  min-height: 100vh !important;
  min-height: -webkit-fill-available !important;

  max-height: 100vh !important;
  max-height: -webkit-fill-available !important;

  .ant-layout-footer {
    padding: 0;
  }
}

.currently-playing {
  .album-art {
    object-fit: contain;
    width: 95%;
    height: 95%;
  }

  .ant-layout-content {
    background-color: #272c35;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.text-center{
  text-align: center;
}
