:root {
  --combinedheight: 90vh;
}

.App {
  background-color: #272c35;
}

.centered,
.injected-svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.vertically-centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spanning {
  width: 100%;
}

.ant-layout {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;

  .ant-layout-footer {
    padding: 0;
    bottom: 0px;
  }
}

.currently-playing {
  .album-art {
    object-fit: contain;
    width: 95%;
    height: 95%;
  }

  .ant-layout-content {
    background-color: #272c35;
  }
}

.Login {
  background-color: #272c35;
  min-height: 100vh;

  form {
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 3px #181b20;
    margin-top: 25px;
  }

  .image {
    max-width: 75%;
    min-width: 40%;
  }

  #loginLogo {
    position: relative;
    display: flex;
    height: calc(var(--combinedheight) / 3);

    svg {
      width: 100%;
      height: 100%;
      position: absolute;

      .logoColor2 {
        fill: #e5e5e5;
      }
    }
  }

  .ant-row {
    padding-top: 1%;
  }
}

.songlist {
  width: 100%;

  h4,
  .ant-list-header,
  .ant-empty-description {
    color: #e6e6e6;
  }

  .ant-list-item-meta-title,
  .ant-list-item-meta-description {
    overflow: hidden;
    max-height: 25px;
    max-width: 100%;
  }

  h4,
  .ant-list-item-meta-description,
  .ant-list-item-action {
    text-shadow: 1px 1px 2px black;
  }

  .ant-list-item-meta-description {
    color: #808080;
  }

  .ant-list-header {
    font-size: 18px;
  }

  .album-art {
    width: 50px;
    height: auto;
  }

  .ant-list-item {
    padding: 5px;

    &:hover {
      background-color: #1890ff;
      cursor: pointer;

      h4,
      .ant-list-item-meta-description {
        color: #e5e5e5;
      }
    }
  }

  .ant-list-item-action {
    .anticon {
      color: #e6e6e6;

      &:hover {
        color: #68758d;
      }
    }

    color: #e6e6e6;
    margin-left: 12px;
  }

  .ant-list-item-additional {
    ul {
      padding-right: 0px;
    }
    margin-left: 24px;

    @media only screen and (max-width: 600px) {
      margin-left: 8px;
    }
  }
}

.ant-layout-content,
.fullscreen {
  background-color: #272c35;
}

.search-router {
  .back-arrow {
    width: 100%;

    svg {
      height: auto;
      width: 100%;
      max-width: 42px;
      color: #cccccc;

      &:hover {
        color: #1890ff;
      }
    }
  }
  .ant-layout-content {
    padding-top: 10px;
    color: white;
  }

  .search-router-navigation {
    .ant-card-body {
      padding: 0px;
    }
  }

  .ant-tabs {
    color: #e6e6e6;
  }

  .ant-back-top {
    left: 5px;
    bottom: 55px;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.history,
.queue {
  display: flex;
  width: 100%;

  .songlist {

    @media only screen and (max-width: 600px) {
      margin-left: 5px;
      margin-right: 5px;
    }

    @media only screen and (min-width: 600px) {
      margin-left: 20px;
      margin-right: 20px;
    }

    @media only screen and (min-width: 1000px) {
      margin-left: 50px;
      margin-right: 50px;
    }

    @media only screen and (min-width: 1600px) {
      margin-left: 100px;
      margin-right: 100px;
    }

    @media only screen and (max-height: 600px) {
      margin-top: 10px;
    }

    @media only screen and (min-height: 600px) {
      margin-top: 20px;
    }

    @media only screen and (min-height: 1200) {
      margin-top: 50px;
    }
    
  }
}

.ant-layout-content {
  -ms-overflow-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.ant-list-items::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.ant-list-items {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.history,
.search-router {
  .enqueued {
    opacity: 0.6;
    background-color: #68758d;

    h4,
    .ant-list-item-meta-description {
      color: #cccccc;
    }
  }
}

.text-center{
  text-align: center;
}


.screen-navigation {
  position: absolute;
  width: 100%;
  height: 81%;

  .screen-navigation-inner {
    position: absolute;
    height: 100%;
    cursor: default;
  }

  .screen-navigation-center {
    width: 40%;
    left: 30%;
  }

  .screen-navigation-left,
  .screen-navigation-right {
    width: 30%;
  }

  .screen-navigation-left {
    left: 0;
  }

  .screen-navigation-right {
    right: 0;
  }
}

.contextmodal {
  min-width: 300px;
  width: auto !important;

  .contextmodal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .ant-modal-header {
    padding: 10px 20px 10px 20px;
  }

  .ant-modal-title {
    font-weight: bolder;
    color: #949494;
  }

  .ant-modal-body {
    padding: 10px 0px;
  }

  .contextmodal-list-element-div {
    font-weight: bold;
    cursor: pointer;
  }

  .contextmodal-list-element {
    div:not(:empty) {
      padding: 4px 20px;
    }
  }

  .contextmodal-list-element:hover {
    color: #1890ff;
    background-color: #cccccc;
  }
}

.ant-back-top {
  bottom: 100px;
}

.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
